
body {
  margin: 0;
  overflow-x: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
}

.container {
}

.tabs div {
  background-color: purple;
  position: fixed;
  width: 100%;
  z-index: 44;
  bottom: 0px;
}

.postForm {
  display: grid;
}

.postInput {
  width: 100%;

}

.postTemplate {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}



